.toggle {
  position: relative;
  -webkit-appearance: none;
  outline: none;
  width: 40px;
  height: 20px;
  background-color: white;
  border: 3px solid white;
  border-radius: 10px;
  transition-duration: 0.5s;
  cursor: pointer;
}
.toggle::after {
  transition-duration: 0.5s;
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  background-color: #043D2A;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background-image: url("../img/lock.svg");
  background-position: 55% 45%;
  background-repeat: no-repeat;
  background-size: 10px;
}
.toggle:checked::after {
  width: 36px;
  background-image: url("../img/key.svg");
  background-size: 13px;
}
